.body {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: left;
}

.h1 {
    margin-bottom: 40px;
}

.h2 {
    text-align: left;
    margin-top: 40px;
}

.block-menu a {
    display: block;
    background-color: #0a8fe8;
    color: white;
    padding: 10px;
    margin: 5px;
}

.inline-menu a {
    display: inline;
    background-color: #11da2f;
    color: white;
    padding: 8px 14px;
    margin: 5px;
}

.inlineblock-menu a {
    display: inline-block;
    background: #a414dd;
    color: white;
    padding: 12px 20px;
    margin-right: 8px;
    text-decoration: none;
    margin: 5px;
}

.float-menu a {
    float: left;
    background: #d5731d;
    color: white;
    padding: 12px 18px;
    margin-right: 10px;
    text-decoration: none;
    }